<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
  	<!--a class="navbar-brand" href="#">
			<img src="./assets/images/survey.png" alt="Logo" style="width:140px;">
	  </a-->
    <a class="navbar-brand" href="./">Encuesta Musical</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
          <!--a class="nav-item nav-link" [routerLink]="['/usuario-list']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">Usuarios</a-->
          <!--a class="nav-item nav-link" [routerLink]="['/vehiculo-list']" [routerLinkActive]="'active'">Vehiculos</a-->
          <!--a class="nav-item nav-link" [routerLink]="['/about']" [routerLinkActive]="'active'">About</a-->
          <!--a class="nav-item nav-link" [routerLink]="['/contact']" [routerLinkActive]="'active'">Contact Us</a-->
          <!--a class="nav-item nav-link" [routerLink]="['/login']" [routerLinkActive]="'active'">Login</a-->
        <!--li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/home">Empresas</a>
        </li-->
        <!--li class="nav-item">
          <a class="nav-link" routerLink="/survey">Encuesta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/score">Resultados</a>
        </li-->
        <!--li class="nav-item">
          <p *ngIf="authenticated()" class="navbar-text">Welcome, {{ user.name }}</p>
        </li-->
      </ul>
      <!--div class="d-flex">
        <span class="navbar-text">
          Bienvenido, {{ user.name }}
        </span>
        <button type="button" class="btn btn-link">Logout</button>
      </div-->

    </div>
  </div>
</nav>
